# Pre-processing Soil Properties Data

### Imports

In [2]:
import numpy as np
import pandas as pd

### Import data as pandas DataFrame:
data had to first be converted from .rds to .csv in R studio because of an encoding error. The following dataframe reads
the data from a CSV.

In [18]:
df = pd.read_csv('./data/unprocessed/soil_properties/soil_data.csv', usecols=['site_key',
                                                                              'longitude_decimal_degrees',
                                                                              'latitude_decimal_degrees',
                                                                              'clay_tot_psa',
                                                                              'silt_tot_psa',
                                                                              'sand_tot_psa',
                                                                              'oc',
                                                                              'oc_d',
                                                                              'c_tot',
                                                                              'n_tot',
                                                                              'ph_kcl',
                                                                              'ph_h2o',
                                                                              'ph_cacl2',
                                                                              'cec_sum',
                                                                              'cec_nh4',
                                                                              'ecec',
                                                                              'wpg2',
                                                                              'db_od',
                                                                              'ca_ext',
                                                                              'mg_ext',
                                                                              'na_ext',
                                                                              'k_ext',
                                                                              'ec_satp',
                                                                              'ec_12pre'])

C:\Users\liams\anaconda3\envs\soil-dataset-exploration\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Column Name Key:
* clay_tot_psa: Clay, Total in % wt for <2 mm soil fraction
* silt_tot_psa: Silt, Total in % wt for <2 mm soil fraction
* sand_tot_psa: Sand, Total in % wt for <2 mm soil fraction
* oc: Carbon, Organic in g/kg for <2 mm soil fraction
* oc_d: Soil organic carbon density in kg/m3
* c_tot: Carbon, Total in g/kg for <2 mm soil fraction
* n_tot: Nitrogen, Total NCS in g/kg for <2 mm soil fraction
* ph_kcl: pH, KCl Suspension for <2 mm soil fraction
* ph_h2o: pH, 1:1 Soil-Water Suspension for <2 mm soil fraction
* ph_cacl2: pH, CaCl2 Suspension for <2 mm soil fraction
* cec_sum: Cation Exchange Capacity, Summary, in cmol(+)/kg for <2 mm soil fraction
* cec_nh4: Cation Exchange Capacity, NH4 prep, in cmol(+)/kg for <2 mm soil fraction
* ecec: Cation Exchange Capacity, Effective, CMS derived value default, standa prep in cmol(+)/kg for <2 mm soil fraction
* wpg2: Coarse fragments in % wt for >2 mm soil fraction
* db_od: Bulk density (Oven Dry) in g/cm3 (4A1h)
* ca_ext: Calcium, Extractable in mg/kg for <2 mm soil fraction (usually Mehlich3)
* mg_ext: Magnesium, Extractable in mg/kg for <2 mm soil fraction (usually Mehlich3)
* na_ext: Sodium, Extractable in mg/kg for <2 mm soil fraction (usually Mehlich3)
* k_ext: Potassium, Extractable in mg/kg for <2 mm soil fraction (usually Mehlich3)
* ec_satp: Electrical Conductivity, Saturation Extract in dS/m for <2 mm soil fraction
* ec_12pre: Electrical Conductivity, Predict, 1:2 (w/w) in dS/m for <2 mm soil fraction

In [19]:
df

,site_key,longitude_decimal_degrees,latitude_decimal_degrees,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,...,cec_nh4,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre
0,icr006475,36.435982,-6.088750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,89.5,42.71,306.30,0.053,NaN
1,icr006586,36.457722,-6.055750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,636.7,40.83,1186.00,0.193,NaN
2,icr007929,37.493351,-5.339337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,428.5,42.94,72.57,0.305,NaN
3,icr008008,37.515327,-5.333700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,222.5,20.73,274.60,0.053,NaN
4,icr010198,35.191799,-11.087100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,76.5,49.31,91.76,0.032,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634959,ZW0067,31.750000,-19.800000,7.0,11.0,82.0,1.4,NaN,NaN,0.1,...,NaN,NaN,NaN,NaN,40.0,36.3,46.00,39.10,0.100,NaN
634960,ZW0067,31.750000,-19.800000,7.0,29.0,64.0,1.2,NaN,NaN,0.1,...,NaN,NaN,NaN,NaN,NaN,36.3,46.00,39.10,0.100,NaN
634961,ZW0067,31.750000,-19.800000,13.0,10.0,77.0,0.5,NaN,NaN,0.3,...,NaN,NaN,NaN,NaN,NaN,36.3,46.00,39.10,0.100,NaN
634962,ZW0067,31.750000,-19.800000,27.0,69.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.64,NaN,NaN,NaN,NaN,NaN,NaN
634963,ZW0067,31.750000,-19.800000,15.0,15.0,70.0,0.6,NaN,NaN,0.1,...,NaN,NaN,NaN,NaN,40.0,36.3,92.00,39.10,0.100,NaN

### filling na, and removing all data that is not contained within washington

In [26]:
df = df.fillna(0)
df = df[(df['latitude_decimal_degrees'] >= 45) &
        (df['latitude_decimal_degrees'] <= 49) &
        (df['longitude_decimal_degrees'] >= -125) &
        (df['longitude_decimal_degrees'] <= -116)]
df

,site_key,longitude_decimal_degrees,latitude_decimal_degrees,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,...,cec_nh4,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre
115684,687,-123.73000,48.63000,0.0,0.0,0.0,432.8,69.20,0.0,12.9,...,0.0,0.0,0.0,0.16,8946.0,897.82,48.3,969.68,0.0,0.0
115685,687,-123.73000,48.63000,0.0,0.0,0.0,29.6,36.70,0.0,0.0,...,0.0,0.0,0.0,1.24,736.0,76.23,11.5,78.20,0.0,0.0
115686,687,-123.73000,48.63000,0.0,0.0,0.0,30.0,16.10,0.0,0.0,...,0.0,0.0,48.0,1.03,328.0,35.09,11.5,62.56,0.0,0.0
115687,687,-123.73000,48.63000,0.0,0.0,0.0,11.0,8.29,0.0,0.0,...,0.0,0.0,48.0,1.45,0.0,0.00,0.0,0.00,0.0,0.0
115692,689,-123.52000,48.83000,0.0,0.0,0.0,422.6,67.60,0.0,10.1,...,0.0,0.0,0.0,0.16,7282.0,949.85,48.3,1126.08,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631448,US0366,-123.09861,45.53472,21.0,72.0,7.0,13.5,19.20,0.0,0.0,...,0.0,0.0,0.0,1.42,1620.0,206.00,46.0,430.00,0.1,0.0
631449,US0366,-123.09861,45.53472,22.0,72.0,6.0,4.1,5.99,0.0,0.0,...,0.0,0.0,0.0,1.46,920.0,133.00,46.0,274.00,0.1,0.0
631450,US0366,-123.09861,45.53472,22.0,71.0,7.0,1.9,3.02,0.0,0.0,...,0.0,0.0,0.0,1.59,1620.0,254.00,46.0,196.00,0.1,0.0
631451,US0366,-123.09861,45.53472,22.0,72.0,6.0,1.7,2.33,0.0,0.0,...,0.0,0.0,0.0,1.37,2620.0,460.00,46.0,196.00,0.1,0.0
631452,US0366,-123.09861,45.53472,24.0,69.0,7.0,0.9,1.30,0.0,0.0,...,0.0,0.0,0.0,1.44,3220.0,544.00,92.0,196.00,0.1,0.0

# TODO:
1. normalize data
2. create class variables

### export data to CSV

In [25]:
df.to_csv('./data/processed/soil_properties/soil_properties_dataset.csv')