# Pre-processing Soil Properties Data

### Imports

In [56]:
import numpy as np
import pandas as pd

### Import data as pandas DataFrame:
data had to first be converted from .rds to .csv in R studio because of an encoding error. The following dataframe reads
the data from a CSV.

In [57]:
cols = ['site_key',
        'longitude_decimal_degrees',
        'latitude_decimal_degrees',
        'clay_tot_psa',
        'silt_tot_psa',
        'sand_tot_psa',
        'oc',
        'oc_d',
        'c_tot',
        'n_tot',
        'ph_kcl',
        'ph_h2o',
        'ph_cacl2',
        'cec_sum',
        'cec_nh4',
        'ecec',
        'wpg2',
        'db_od',
        'ca_ext',
        'mg_ext',
        'na_ext',
        'k_ext',
        'ec_satp',
        'ec_12pre']

df = pd.read_csv('./data/unprocessed/soil_properties/soil_data.csv', usecols=cols)

C:\Users\liams\anaconda3\envs\soil-dataset-exploration\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Column Name Key:
* clay_tot_psa: Clay, Total in % wt for <2 mm soil fraction
* silt_tot_psa: Silt, Total in % wt for <2 mm soil fraction
* sand_tot_psa: Sand, Total in % wt for <2 mm soil fraction
* oc: Carbon, Organic in g/kg for <2 mm soil fraction
* oc_d: Soil organic carbon density in kg/m3
* c_tot: Carbon, Total in g/kg for <2 mm soil fraction
* n_tot: Nitrogen, Total NCS in g/kg for <2 mm soil fraction
* ph_kcl: pH, KCl Suspension for <2 mm soil fraction
* ph_h2o: pH, 1:1 Soil-Water Suspension for <2 mm soil fraction
* ph_cacl2: pH, CaCl2 Suspension for <2 mm soil fraction
* cec_sum: Cation Exchange Capacity, Summary, in cmol(+)/kg for <2 mm soil fraction
* cec_nh4: Cation Exchange Capacity, NH4 prep, in cmol(+)/kg for <2 mm soil fraction
* ecec: Cation Exchange Capacity, Effective, CMS derived value default, standa prep in cmol(+)/kg for <2 mm soil fraction
* wpg2: Coarse fragments in % wt for >2 mm soil fraction
* db_od: Bulk density (Oven Dry) in g/cm3 (4A1h)
* ca_ext: Calcium, Extractable in mg/kg for <2 mm soil fraction (usually Mehlich3)
* mg_ext: Magnesium, Extractable in mg/kg for <2 mm soil fraction (usually Mehlich3)
* na_ext: Sodium, Extractable in mg/kg for <2 mm soil fraction (usually Mehlich3)
* k_ext: Potassium, Extractable in mg/kg for <2 mm soil fraction (usually Mehlich3)
* ec_satp: Electrical Conductivity, Saturation Extract in dS/m for <2 mm soil fraction
* ec_12pre: Electrical Conductivity, Predict, 1:2 (w/w) in dS/m for <2 mm soil fraction

In [58]:
df

,site_key,longitude_decimal_degrees,latitude_decimal_degrees,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,...,cec_nh4,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre
0,icr006475,36.435982,-6.088750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,89.5,42.71,306.30,0.053,NaN
1,icr006586,36.457722,-6.055750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,636.7,40.83,1186.00,0.193,NaN
2,icr007929,37.493351,-5.339337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,428.5,42.94,72.57,0.305,NaN
3,icr008008,37.515327,-5.333700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,222.5,20.73,274.60,0.053,NaN
4,icr010198,35.191799,-11.087100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,76.5,49.31,91.76,0.032,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634959,ZW0067,31.750000,-19.800000,7.0,11.0,82.0,1.4,NaN,NaN,0.1,...,NaN,NaN,NaN,NaN,40.0,36.3,46.00,39.10,0.100,NaN
634960,ZW0067,31.750000,-19.800000,7.0,29.0,64.0,1.2,NaN,NaN,0.1,...,NaN,NaN,NaN,NaN,NaN,36.3,46.00,39.10,0.100,NaN
634961,ZW0067,31.750000,-19.800000,13.0,10.0,77.0,0.5,NaN,NaN,0.3,...,NaN,NaN,NaN,NaN,NaN,36.3,46.00,39.10,0.100,NaN
634962,ZW0067,31.750000,-19.800000,27.0,69.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.64,NaN,NaN,NaN,NaN,NaN,NaN
634963,ZW0067,31.750000,-19.800000,15.0,15.0,70.0,0.6,NaN,NaN,0.1,...,NaN,NaN,NaN,NaN,40.0,36.3,92.00,39.10,0.100,NaN

### filling na, and removing all data that is not contained within washington

In [59]:
df = df[(df['latitude_decimal_degrees'] >= 45) &
        (df['latitude_decimal_degrees'] <= 49) &
        (df['longitude_decimal_degrees'] >= -125) &
        (df['longitude_decimal_degrees'] <= -116)]
df

,site_key,longitude_decimal_degrees,latitude_decimal_degrees,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,...,cec_nh4,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre
115684,687,-123.73000,48.63000,NaN,NaN,NaN,432.8,69.20,NaN,12.9,...,NaN,NaN,0.0,0.16,8946.0,897.82,48.3,969.68,NaN,NaN
115685,687,-123.73000,48.63000,NaN,NaN,NaN,29.6,36.70,NaN,NaN,...,NaN,NaN,0.0,1.24,736.0,76.23,11.5,78.20,NaN,NaN
115686,687,-123.73000,48.63000,NaN,NaN,NaN,30.0,16.10,NaN,NaN,...,NaN,NaN,48.0,1.03,328.0,35.09,11.5,62.56,NaN,NaN
115687,687,-123.73000,48.63000,NaN,NaN,NaN,11.0,8.29,NaN,NaN,...,NaN,NaN,48.0,1.45,NaN,NaN,NaN,NaN,NaN,NaN
115692,689,-123.52000,48.83000,NaN,NaN,NaN,422.6,67.60,NaN,10.1,...,NaN,NaN,0.0,0.16,7282.0,949.85,48.3,1126.08,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631448,US0366,-123.09861,45.53472,21.0,72.0,7.0,13.5,19.20,NaN,NaN,...,NaN,NaN,NaN,1.42,1620.0,206.00,46.0,430.00,0.1,NaN
631449,US0366,-123.09861,45.53472,22.0,72.0,6.0,4.1,5.99,NaN,NaN,...,NaN,NaN,NaN,1.46,920.0,133.00,46.0,274.00,0.1,NaN
631450,US0366,-123.09861,45.53472,22.0,71.0,7.0,1.9,3.02,NaN,NaN,...,NaN,NaN,NaN,1.59,1620.0,254.00,46.0,196.00,0.1,NaN
631451,US0366,-123.09861,45.53472,22.0,72.0,6.0,1.7,2.33,NaN,NaN,...,NaN,NaN,NaN,1.37,2620.0,460.00,46.0,196.00,0.1,NaN
631452,US0366,-123.09861,45.53472,24.0,69.0,7.0,0.9,1.30,NaN,NaN,...,NaN,NaN,NaN,1.44,3220.0,544.00,92.0,196.00,0.1,NaN

# TODO:
1. normalize data
2. create class variables

### average data taken from the same site

In [60]:
sites = df['site_key'].unique()
averaged_df = pd.DataFrame(columns=cols)

for index in range(len(sites)):
    site = sites[index]
    site_df = df[df['site_key'] == site]
    lat = site_df['latitude_decimal_degrees'].unique()[0]
    lon = site_df['longitude_decimal_degrees'].unique()[0]
    site_data_df = site_df.drop(['site_key', 'longitude_decimal_degrees', 'latitude_decimal_degrees'], axis=1)
    average_site_data_series = site_data_df.mean()
    average_site_data_series['site_key'] = site
    average_site_data_series['longitude_decimal_degrees'] = lon
    average_site_data_series['latitude_decimal_degrees'] = lat
    averaged_df = averaged_df.append(average_site_data_series, ignore_index=True)
averaged_df

,site_key,longitude_decimal_degrees,latitude_decimal_degrees,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,...,cec_nh4,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre
0,687,-123.73000,48.63000,NaN,NaN,NaN,125.850000,32.572500,NaN,12.900000,...,NaN,NaN,24.000000,0.970000,3336.666667,336.380000,23.766667,370.146667,NaN,NaN
1,689,-123.52000,48.83000,NaN,NaN,NaN,124.975000,35.565000,NaN,10.100000,...,NaN,NaN,15.000000,1.032500,3092.666667,383.570000,24.533333,458.773333,NaN,NaN
2,1122,-123.37000,48.48000,7.166667,30.500000,62.333333,65.142857,33.768571,NaN,5.142857,...,NaN,NaN,4.285714,1.108571,2144.571429,386.681429,66.371429,524.498571,NaN,NaN
3,1123,-124.45000,48.60000,8.200000,36.000000,55.800000,146.533333,66.251667,NaN,3.983333,...,NaN,NaN,4.166667,1.055000,788.666667,270.233333,43.700000,303.025000,NaN,NaN
4,2367,-123.36000,48.88000,10.500000,36.000000,53.500000,13.000000,15.210000,NaN,0.800000,...,NaN,NaN,3.750000,1.386667,1210.000000,189.566667,38.333333,97.750000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901,US0241,-118.55000,48.38333,2.500000,55.000000,42.500000,12.850000,11.305000,NaN,0.700000,...,NaN,NaN,10.000000,0.920000,860.000000,78.650000,23.000000,215.500000,0.1,NaN
1902,US0242,-118.96667,48.33333,2.500000,38.500000,59.000000,12.066667,11.078200,NaN,1.300000,...,NaN,NaN,18.800000,1.210000,823.333333,64.533333,61.333333,117.240000,0.1,NaN
1903,US0257,-123.44722,45.91389,22.200000,59.400000,18.400000,18.400000,17.853333,NaN,2.050000,...,NaN,NaN,11.000000,1.356667,740.000000,241.940000,NaN,273.800000,0.1,NaN
1904,US0284,-117.55417,46.95389,17.222222,76.555556,6.222222,9.744444,12.102222,NaN,0.925000,...,NaN,NaN,NaN,1.334444,4126.666667,524.111111,27.600000,260.622222,0.1,NaN
1905,US0366,-123.09861,45.53472,20.857143,72.000000,7.142857,14.685714,6.368000,NaN,NaN,...,NaN,NaN,NaN,1.456000,2562.857143,318.000000,49.285714,296.285714,0.1,NaN

In [69]:
data = averaged_df.fillna(0)
data = data.drop(['site_key', 'longitude_decimal_degrees', 'latitude_decimal_degrees'], axis=1)
data

,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,ph_kcl,ph_h2o,ph_cacl2,...,cec_nh4,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre
0,0.000000,0.000000,0.000000,125.850000,32.572500,0.0,12.900000,0.0,0.000000,5.033333,...,0.0,0.0,24.000000,0.970000,3336.666667,336.380000,23.766667,370.146667,0.0,0.0
1,0.000000,0.000000,0.000000,124.975000,35.565000,0.0,10.100000,0.0,0.000000,4.966667,...,0.0,0.0,15.000000,1.032500,3092.666667,383.570000,24.533333,458.773333,0.0,0.0
2,7.166667,30.500000,62.333333,65.142857,33.768571,0.0,5.142857,0.0,0.000000,4.614286,...,0.0,0.0,4.285714,1.108571,2144.571429,386.681429,66.371429,524.498571,0.0,0.0
3,8.200000,36.000000,55.800000,146.533333,66.251667,0.0,3.983333,0.0,0.000000,4.483333,...,0.0,0.0,4.166667,1.055000,788.666667,270.233333,43.700000,303.025000,0.0,0.0
4,10.500000,36.000000,53.500000,13.000000,15.210000,0.0,0.800000,0.0,0.000000,5.033333,...,0.0,0.0,3.750000,1.386667,1210.000000,189.566667,38.333333,97.750000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901,2.500000,55.000000,42.500000,12.850000,11.305000,0.0,0.700000,0.0,6.500000,5.600000,...,0.0,0.0,10.000000,0.920000,860.000000,78.650000,23.000000,215.500000,0.1,0.0
1902,2.500000,38.500000,59.000000,12.066667,11.078200,0.0,1.300000,0.0,6.183333,5.466667,...,0.0,0.0,18.800000,1.210000,823.333333,64.533333,61.333333,117.240000,0.1,0.0
1903,22.200000,59.400000,18.400000,18.400000,17.853333,0.0,2.050000,0.0,5.320000,4.700000,...,0.0,0.0,11.000000,1.356667,740.000000,241.940000,0.000000,273.800000,0.1,0.0
1904,17.222222,76.555556,6.222222,9.744444,12.102222,0.0,0.925000,0.0,6.944444,6.344444,...,0.0,0.0,0.000000,1.334444,4126.666667,524.111111,27.600000,260.622222,0.1,0.0
1905,20.857143,72.000000,7.142857,14.685714,6.368000,0.0,0.000000,0.0,5.814286,5.185714,...,0.0,0.0,0.000000,1.456000,2562.857143,318.000000,49.285714,296.285714,0.1,0.0

In [70]:
import sklearn as sk
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=0)
clustered_data = kmeans.fit_predict(data)

In [71]:
data['class'] = clustered_data

In [72]:
data[data['class'] == 0]

,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,ph_kcl,ph_h2o,ph_cacl2,...,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre,class
3,8.200000,36.000000,55.800000,146.533333,66.251667,0.0,3.983333,0.0,0.000000,4.483333,...,0.0,4.166667,1.055000,788.666667,270.233333,43.700000,303.025000,0.0,0.0,0
4,10.500000,36.000000,53.500000,13.000000,15.210000,0.0,0.800000,0.0,0.000000,5.033333,...,0.0,3.750000,1.386667,1210.000000,189.566667,38.333333,97.750000,0.0,0.0,0
5,6.000000,36.666667,57.333333,62.428571,24.738857,0.0,2.142857,0.0,0.000000,5.228571,...,0.0,33.571429,1.191429,1726.666667,52.433333,19.166667,91.233333,0.0,0.0,0
6,3.750000,16.750000,79.500000,117.200000,28.008000,0.0,2.000000,0.0,0.000000,5.300000,...,0.0,31.600000,1.116000,1050.000000,87.725000,5.750000,68.425000,0.0,0.0,0
7,4.666667,42.666667,52.666667,54.250000,16.025000,0.0,2.000000,0.0,0.000000,4.900000,...,0.0,18.750000,0.995000,273.333333,20.166667,15.333333,39.100000,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1898,13.400000,0.000000,0.000000,7.700000,0.000000,7.7,0.000000,0.0,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0
1899,12.050000,0.000000,0.000000,5.400000,0.000000,5.4,0.000000,0.0,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0
1901,2.500000,55.000000,42.500000,12.850000,11.305000,0.0,0.700000,0.0,6.500000,5.600000,...,0.0,10.000000,0.920000,860.000000,78.650000,23.000000,215.500000,0.1,0.0,0
1902,2.500000,38.500000,59.000000,12.066667,11.078200,0.0,1.300000,0.0,6.183333,5.466667,...,0.0,18.800000,1.210000,823.333333,64.533333,61.333333,117.240000,0.1,0.0,0
1903,22.200000,59.400000,18.400000,18.400000,17.853333,0.0,2.050000,0.0,5.320000,4.700000,...,0.0,11.000000,1.356667,740.000000,241.940000,0.000000,273.800000,0.1,0.0,0

In [73]:
data[data['class'] == 1]

,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,ph_kcl,ph_h2o,ph_cacl2,...,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre,class
0,0.000000,0.000000,0.000000,125.850000,32.572500,0.000000,12.900000,0.0,0.000000,5.033333,...,0.0,24.000000,0.970000,3336.666667,336.380000,23.766667,370.146667,0.000000,0.000000,1
1,0.000000,0.000000,0.000000,124.975000,35.565000,0.000000,10.100000,0.0,0.000000,4.966667,...,0.0,15.000000,1.032500,3092.666667,383.570000,24.533333,458.773333,0.000000,0.000000,1
2,7.166667,30.500000,62.333333,65.142857,33.768571,0.000000,5.142857,0.0,0.000000,4.614286,...,0.0,4.285714,1.108571,2144.571429,386.681429,66.371429,524.498571,0.000000,0.000000,1
8,25.800000,43.200000,31.000000,87.833333,26.260000,0.000000,1.800000,0.0,0.000000,5.420000,...,0.0,1.583333,1.236667,2436.000000,559.020000,55.200000,39.100000,0.000000,0.000000,1
10,35.500000,53.000000,11.500000,50.571429,18.057143,0.000000,2.200000,0.0,0.000000,5.085714,...,0.0,2.500000,1.300000,2380.000000,766.333333,57.500000,110.783333,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1464,25.933333,66.422223,7.655556,15.600000,0.000000,0.000000,1.600000,0.0,0.000000,0.000000,...,0.0,0.000000,0.000000,2268.888889,533.000000,38.333333,252.033333,0.207778,0.000000,1
1471,6.835714,67.267857,25.896429,0.000000,0.000000,8.678182,3.325758,0.0,0.000000,0.000000,...,0.0,3.964286,0.000000,3575.757576,203.545455,0.000000,240.515152,0.648000,0.130714,1
1900,17.666667,54.166667,28.166667,106.133333,75.240000,0.000000,7.971667,0.0,6.816667,6.316667,...,0.0,1.000000,0.785000,7086.666667,635.500000,92.000000,123.733333,0.000000,0.000000,1
1904,17.222222,76.555556,6.222222,9.744444,12.102222,0.000000,0.925000,0.0,6.944444,6.344444,...,0.0,0.000000,1.334444,4126.666667,524.111111,27.600000,260.622222,0.100000,0.000000,1
1905,20.857143,72.000000,7.142857,14.685714,6.368000,0.000000,0.000000,0.0,5.814286,5.185714,...,0.0,0.000000,1.456000,2562.857143,318.000000,49.285714,296.285714,0.100000,0.000000,1

In [87]:
classified_data = pd.merge(averaged_df, data['class'], left_index=True, right_index=True)
classified_data.head(10)

,site_key,longitude_decimal_degrees,latitude_decimal_degrees,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,...,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre,class
0,687,-123.73,48.63,NaN,NaN,NaN,125.850000,32.572500,NaN,12.900000,...,NaN,24.000000,0.970000,3336.666667,336.380000,23.766667,370.146667,NaN,NaN,1
1,689,-123.52,48.83,NaN,NaN,NaN,124.975000,35.565000,NaN,10.100000,...,NaN,15.000000,1.032500,3092.666667,383.570000,24.533333,458.773333,NaN,NaN,1
2,1122,-123.37,48.48,7.166667,30.500000,62.333333,65.142857,33.768571,NaN,5.142857,...,NaN,4.285714,1.108571,2144.571429,386.681429,66.371429,524.498571,NaN,NaN,1
3,1123,-124.45,48.60,8.200000,36.000000,55.800000,146.533333,66.251667,NaN,3.983333,...,NaN,4.166667,1.055000,788.666667,270.233333,43.700000,303.025000,NaN,NaN,0
4,2367,-123.36,48.88,10.500000,36.000000,53.500000,13.000000,15.210000,NaN,0.800000,...,NaN,3.750000,1.386667,1210.000000,189.566667,38.333333,97.750000,NaN,NaN,0
5,2368,-123.51,48.74,6.000000,36.666667,57.333333,62.428571,24.738857,NaN,2.142857,...,NaN,33.571429,1.191429,1726.666667,52.433333,19.166667,91.233333,NaN,NaN,0
6,2369,-123.49,48.84,3.750000,16.750000,79.500000,117.200000,28.008000,NaN,2.000000,...,NaN,31.600000,1.116000,1050.000000,87.725000,5.750000,68.425000,NaN,NaN,0
7,2370,-123.55,48.83,4.666667,42.666667,52.666667,54.250000,16.025000,NaN,2.000000,...,NaN,18.750000,0.995000,273.333333,20.166667,15.333333,39.100000,NaN,NaN,0
8,2374,-123.30,48.81,25.800000,43.200000,31.000000,87.833333,26.260000,NaN,1.800000,...,NaN,1.583333,1.236667,2436.000000,559.020000,55.200000,39.100000,NaN,NaN,1
9,2378,-123.17,48.78,8.250000,27.500000,64.250000,22.000000,23.585000,NaN,1.600000,...,NaN,21.250000,1.460000,1730.000000,356.950000,46.000000,146.625000,NaN,NaN,0

### export data to CSV

In [112]:
classified_data.to_csv('./data/processed/soil_properties/soil_properties_dataset.csv', )

In [113]:
classified_data['n_tot'].max()

23.714998950000002

In [114]:
classified_data['n_tot'].min()

0.023236368333333337

In [115]:
classified_data['n_tot'].mean()

2.4917580724508968

In [125]:
classified_data[(classified_data['longitude_decimal_degrees'] <= -122.75) & (classified_data['longitude_decimal_degrees'] >= -122.79) & (classified_data['latitude_decimal_degrees'] >= 45.94) & (classified_data['latitude_decimal_degrees'] <= 45.99)]

,site_key,longitude_decimal_degrees,latitude_decimal_degrees,clay_tot_psa,silt_tot_psa,sand_tot_psa,oc,oc_d,c_tot,n_tot,...,ecec,wpg2,db_od,ca_ext,mg_ext,na_ext,k_ext,ec_satp,ec_12pre,class
640,11659.0,-122.769997,45.96722,26.1,46.442857,27.457143,11.142857,16.26,1.134286,1.52,...,13.65,0.166667,1.3525,4028.571429,1116.571429,26.285714,106.071429,NaN,NaN,1