In [1]:
import pandas as pd
import geopandas as gpd
import georasters as gr
import rasterio as ro
import h3
import h3pandas
import rioxarray
from shapely.geometry import Polygon, Point
import shapely.wkt

# total_opp = gr.from_file("wa_slope.tif")

# total_opp.plot()

In [2]:
total_opp = total_opp.to_pandas()
total_opp.head()

   row  col  value           x     y
0    0    0   17.0 -125.000000  49.0
1    0    1   19.0 -124.991667  49.0
2    0    2   19.0 -124.983333  49.0
3    0    3   19.0 -124.975000  49.0
4    0    4   20.0 -124.966667  49.0

In [3]:
print(total_opp)

        row   col  value           x          y
0         0     0   17.0 -125.000000  49.000000
1         0     1   19.0 -124.991667  49.000000
2         0     2   19.0 -124.983333  49.000000
3         0     3   19.0 -124.975000  49.000000
4         0     4   20.0 -124.966667  49.000000
...     ...   ...    ...         ...        ...
462937  479  1075   16.0 -116.041667  45.008333
462938  479  1076   17.0 -116.033333  45.008333
462939  479  1077   17.0 -116.025000  45.008333
462940  479  1078   15.0 -116.016667  45.008333
462941  479  1079   12.0 -116.008333  45.008333

[462942 rows x 5 columns]

In [2]:
# t_opp = ro.open("WA_total_opportunity.tif")

resolution = 4

In [3]:
rds = rioxarray.open_rasterio("wa_fire_history_wildland_full_history_low_dpi.tif")
rds.name = "data"
df = rds.squeeze().to_dataframe().reset_index()
geometry = gpd.points_from_xy(df.x, df.y)
gdf = gpd.GeoDataFrame(df, crs=rds.rio.crs, geometry=geometry)

In [4]:
gdf.h3.geo_to_h3_aggregate(resolution)

,band,y,x,spatial_ref,data,geometry
h3_04,,,,,,
8412c33ffffffff,1320,2.640946e+04,-6.121963e+04,0,134640.0,"POLYGON ((-116.15621 50.44277, -116.37955 50.2..."
8412c37ffffffff,34210,6.839019e+05,-1.595390e+06,0,3489420.0,"POLYGON ((-116.72517 50.33676, -116.94454 50.1..."
8412ca5ffffffff,1080,2.114909e+04,-4.995641e+04,0,110160.0,"POLYGON ((-115.44196 49.12712, -115.66197 48.9..."
8412ce5ffffffff,43440,8.672296e+05,-2.011156e+06,0,4430880.0,"POLYGON ((-115.68868 50.16452, -115.91316 50.0..."
8412d13ffffffff,60560,1.210054e+06,-2.875860e+06,0,6177120.0,"POLYGON ((-118.87295 50.27028, -119.07917 50.1..."
...,...,...,...,...,...,...
8428f65ffffffff,144370,2.613837e+06,-6.974721e+06,0,14679745.0,"POLYGON ((-120.70553 45.04933, -120.46317 45.2..."
8428f67ffffffff,143850,2.619499e+06,-6.972028e+06,0,14400837.0,"POLYGON ((-121.09434 45.31259, -120.85247 45.4..."
8428f69ffffffff,143630,2.572143e+06,-6.980393e+06,0,14650260.0,"POLYGON ((-121.42552 44.55627, -121.18671 44.7..."
8428f6bffffffff,143080,2.577243e+06,-6.975880e+06,0,14002064.0,"POLYGON ((-121.81275 44.81873, -121.57448 44.9..."
8428f6dffffffff,144240,2.589709e+06,-6.978126e+06,0,14631823.0,"POLYGON ((-120.87338 44.67105, -120.63255 44.8..."

In [ ]:
gdf.plot()